<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>积分商城</title>
    <link rel="stylesheet" href="../js/mintui/style.css">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../css/foot.css">
    <link rel="stylesheet" href="../css/gift.css">

    <style>
        a {
            color: black;
        }

        .mint-navbar .mint-tab-item.is-selected {
            background-color: red;
            border-radius: 10px;
        }

        .mint-navbar .mint-tab-item.is-selected {
            color: black;
            border-bottom: white;
        }

        html {
            background: #eeeeee;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <div class="demo-input-suffix">
            <el-input placeholder="请输入内容" prefix-icon="el-icon-search">
            </el-input>
        </div>
        <div>
            <mt-navbar v-model="selected">
                <mt-tab-item id="1">全部</mt-tab-item>
                <mt-tab-item id="2">礼品兑换</mt-tab-item>
                <mt-tab-item id="3">优惠卡券</mt-tab-item>
                <mt-tab-item id="4">生活用品</mt-tab-item>
            </mt-navbar>
        </div>
        <div>
            <mt-tab-container v-model="selected">
                <mt-tab-container-item id="1">
                    <div class="gift" v-for="item in gift" :key="item.id" style="margin-top: 2%;background: white;">
                        <a href="./gift/giftDetail.html">
                            <div style="margin-top: 1rem;height: 65%">
                                <img :src="item.img" alt="" style="border-radius: 50%;width: 90%;height: 100%;margin-left: 5%;">
                                <el-row style="padding-left: 3rem;">{{ item.name }}</el-row>
                                <el-row style="padding-left: 3rem;"> {{item.num}}积分</el-row>
                            </div>
                        </a>
                    </div>

                </mt-tab-container-item>
                <mt-tab-container-item id="2">
                    <mt-cell v-for="n in 5" title="tab-container 2"></mt-cell>
                </mt-tab-container-item>
                <mt-tab-container-item id="3">
                    <mt-cell v-for="n in 7" title="tab-container 3"></mt-cell>
                </mt-tab-container-item>
                <mt-tab-container-item id="4">
                    <mt-cell v-for="n in 7" title="tab-container 3"></mt-cell>
                </mt-tab-container-item>
            </mt-tab-container>
        </div>
        <!-- 底部导航 -->
        <div id="nav">
            <ul>
                <li>
                    <a href="./index.html">首页</a>
                </li>
                <li class="active">
                    <a href="./gift.html">积分商城</a>
                </li>
                <li>
                    <a href="./issue.html">发布</a>
                </li>
                <li>
                    <a href="./shop.html">商家</a>
                </li>
                <li>
                    <a href="./my.html">个人中心</a>
                </li>
            </ul>
        </div>
    </div>
    </div>

<!-- import Vue before Mint UI -->
<!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
<script src="../js/vue/vue.js"></script>
<!-- import JavaScript -->
<!-- <script src="https://unpkg.com/mint-ui/lib/index.js"></script> -->
<script src="../js/mintui/index.js"></script>
<!-- 引入组件库 -->
<!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
<script src="../js/elementui/index.js"></script>
<!-- Swiper JS -->
<script src="../js/swiper-bundle.min.js"></script>
    <script>

        //创建Vue实例,得到 ViewModel
        var vm = new Vue({
            el: '#app',
            data: {
                tabbar: "积分商城",
                selected: "1",
                gift: [{
                    id: 1,
                    img: "https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimage.biaobaiju.com%2Fuploads%2F20181113%2F22%2F1542119277-CrgIlUnFJk.jpg&refer=http%3A%2F%2Fimage.biaobaiju.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1629514598&t=c61dfe6b2a6c49464f7d024b97208993",
                    name: "美食优惠券",
                    num: 500
                }, {
                    id: 2,
                    img: "https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimage.biaobaiju.com%2Fuploads%2F20181113%2F22%2F1542119277-CrgIlUnFJk.jpg&refer=http%3A%2F%2Fimage.biaobaiju.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1629514598&t=c61dfe6b2a6c49464f7d024b97208993",
                    name: "美食优惠券",
                    num: 500
                }, {
                    id: 3,
                    img: "../images/map.png",
                    name: "美食优惠券",
                    num: 500
                }, {
                    id: 4,
                    img: "../images/map.png",
                    name: "美食优惠券",
                    num: 500
                }]
            },
            //方法
            methods: {},
            //计算属性
            computed: {},
            //过滤器
            filter: {},
            //侦听器
            watch: {},
        });
    </script>
</body>

</html>