<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
    <script src='https://unpkg.com/axios/dist/axios.min.js'></script>
    <script src='https://unpkg.com/mint-ui@1/lib/index.js'></script>
    <link rel='stylesheet' href='https://unpkg.com/mint-ui@1/lib/style.css'>
    <!-- 引入样式 -->
    <link rel='stylesheet' href='https://unpkg.com/element-ui/lib/theme-chalk/index.css'>
    <link rel="stylesheet" href="../../css/index.css">
    <style>
        [v-cloak] {
            display: none;
        }

        body {
            padding: 0;
            margin: 0;
        }

        li {
            list-style: none;
        }

        ul {
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>

        <mt-navbar v-model="selected">
            <mt-tab-item id="1">最新</mt-tab-item>
            <mt-tab-item id="2">最近</mt-tab-item>
            <mt-tab-item id="3">推荐</mt-tab-item>
        </mt-navbar>

        <!-- tab-container -->
        <mt-tab-container v-model="selected">
            <mt-tab-container-item id="1">
                <ul>
                    <!-- 上拉加载 -->
                    <mt-loadmore :bottom-method="loadBottom2" :bottom-all-loaded="allLoaded2" ref="loadmore2">
                        <li style="margin-bottom: 2rem;">
                            <div v-for="item in actives" :key="item.id" class="activemo-class">
                                <!--头部头像等-->
                                <div class="userinfo-header-line-under"></div>
                                <div id="shop-name" class="active-head">
                                    <div class="left" style="width: 70%;">
                                        <div class="block">
                                            <el-avatar :size="50"
                                                src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimage.biaobaiju.com%2Fuploads%2F20181113%2F22%2F1542119277-CrgIlUnFJk.jpg&refer=http%3A%2F%2Fimage.biaobaiju.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1629514598&t=c61dfe6b2a6c49464f7d024b97208993">
                                            </el-avatar>
                                        </div>
                                        <div class="name-class">
                                            <span>{{item.name}}</span>
                                        </div>
                                        <el-tag type="success" effect="dark" class="tag-class" size="small ">{{ item.tag
                                            }}
                                        </el-tag>
                                    </div>

                                    <mt-button type="danger" size="small">拨打电话</mt-button>
                                </div>
                                <!--发布信息图片等-->
                                <div class="detail-img" @click="lookDetail(item.id)">
                                    <div>
                                        <span class="detail-des">123456</span>
                                    </div>
                                    <div v-for="img in detail" :key="img.id">
                                        <img :src="img.detail_img" class="img-class" />
                                    </div>
                                </div>

                                <!--时间等-->
                                <div id="date-detail" class="date-detail">
                                    <el-row style="margin:0 0 1rem 0">
                                        <i class="el-icon-location-outline" style="color:red"></i>
                                        这里是地址
                                    </el-row>
                                    <div class="time-detail">
                                        <span class="issue-date-class">这里是日期几点发布的</span>
                                        <span class="look-class issue-date-class">
                                            查看详情
                                            <i class="el-icon-d-arrow-right"></i>
                                        </span>
                                    </div>​​​​​​​
                                    <div class="one">
                                        <div class="one0"></div>
                                        <i class="el-icon-view"></i>
                                        <span class="see">
                                            <span style="color:blue">**</span>人浏览
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </mt-loadmore>
                </ul>

            </mt-tab-container-item>
            <mt-tab-container-item id="2">
                <mt-cell v-for="n in 4" :title="'测试 ' + n" />
            </mt-tab-container-item>
            <mt-tab-container-item id="3">
                <mt-cell v-for="n in 6" :title="'选项 ' + n" />
            </mt-tab-container-item>
        </mt-tab-container>

    </div>

</body>

<!-- import Vue before Mint UI -->
<!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
<script src="../../vue/vue.js"></script>
<!-- import JavaScript -->
<!-- <script src="https://unpkg.com/mint-ui/lib/index.js"></script> -->
<script src="../../mintui/index.js"></script>
<!-- 引入组件库 -->
<!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
<script src="../../elementui/index.js"></script>
<!-- Swiper JS -->
<script src="../../js/swiper-bundle.min.js"></script>
<script>
    //创建Vue实例,得到 ViewModel
    var vm = new Vue({
        el: '#app',
        data: {
            loading: false,
            selected: "1",
            tabbar: "首页",
            allLoaded2: false,
            actives: [
                {
                    id: 1,
                    avatar: "",
                    name: "1",
                    tag: "教育培训",
                    title: "1345679",
                },
                {
                    id: 2,
                    avatar: "",
                    name: "1",
                    tag: "教育培训",
                    title: "1345679",
                }
            ],
            detail: [{
                id: "10",
                detail_img:
                    "https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimage.biaobaiju.com%2Fuploads%2F20181113%2F22%2F1542119277-CrgIlUnFJk.jpg&refer=http%3A%2F%2Fimage.biaobaiju.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1629514598&t=c61dfe6b2a6c49464f7d024b97208993"
            },
            {
                id: "2",
                detail_img:
                    "https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimage.biaobaiju.com%2Fuploads%2F20181113%2F22%2F1542119277-CrgIlUnFJk.jpg&refer=http%3A%2F%2Fimage.biaobaiju.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1629514598&t=c61dfe6b2a6c49464f7d024b97208993"
            },
            {
                id: "3",
                detail_img:
                    "https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimage.biaobaiju.com%2Fuploads%2F20181113%2F22%2F1542119277-CrgIlUnFJk.jpg&refer=http%3A%2F%2Fimage.biaobaiju.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1629514598&t=c61dfe6b2a6c49464f7d024b97208993"
            },
            {
                id: "4",
                detail_img:
                    "https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimage.biaobaiju.com%2Fuploads%2F20181113%2F22%2F1542119277-CrgIlUnFJk.jpg&refer=http%3A%2F%2Fimage.biaobaiju.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1629514598&t=c61dfe6b2a6c49464f7d024b97208993"
            }
            ]
        },
        //方法
        methods: {
            lookDetail(id) {
                console.log(id)
                window.location.href = "./detail.html";
            },
            loadBottom2() {// load more data
                //this.allLoaded = true;// if all data are loaded

                var maxId = this.actives[this.actives.length - 1].id
                this.actives.push(
                    {
                        id: maxId + 1,
                        avatar: "",
                        name: maxId + 1,
                        tag: "教育培训",
                        title: "1345679",
                    }, {
                    id: maxId + 2,
                    avatar: "",
                    name: maxId + 2,
                    tag: "教育培训",
                    title: "1345679",
                })
                this.$refs.loadmore2.onBottomLoaded();
            }
        },
        //计算属性
        computed: {},
        //过滤器
        filter: {},
        //侦听器
        watch: {},
    });
</script>

</html>