<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的钱包</title>
    <link rel="stylesheet" href="../../js/mintui/style.css">
    <!-- 引入样式 -->
    <link rel='stylesheet' href='https://unpkg.com/element-ui/lib/theme-chalk/index.css'>
    <style>
        [v-cloak] {
            display: none;
        }

        body {
            padding: 0;
            margin: 0;
        }

        .avatar {
            height: 25vh;
            background: url(https://img1.baidu.com/it/u=3066722569,2341705378&fm=26&fmt=auto&gp=0.jpg);

        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <div style="width: 100%;">
            <mt-header title="我的钱包">
                <a slot="left" href="../my.html">
                    <mt-button icon="back">返回</mt-button>
                </a>
            </mt-header>
        </div>
        <!-- 头像名字等 -->
        <div class="avatar">
            <div>
                <el-avatar :size="70" src="https://img1.baidu.com/it/u=3279884260,3623454484&fm=26&fmt=auto&gp=0.jpg"
                    style="margin-left: 42%;margin-top: 2rem;">
                </el-avatar>
            </div>
            <div style="width:100%;text-align: center;margin-top: 1rem;">
                <span style="margin-left: 0.5rem;">名</span>
            </div>
        </div>
        <!-- 余额积分 -->
        <div style=" display: flex;height:10vh;">
            <div style="width: 50%;height: 100%;margin: 1rem 0;">
                <div style="text-align: center;">
                    <strong>10</strong>
                </div>
                <div style="text-align: center;">账户余额</div>
            </div>
            <div style="width: 50%;height: 100%;margin: 1rem 0;">
                <div style="text-align: center;">
                    <strong>10</strong>
                </div>
                <div style="text-align: center;">积分</div>
            </div>
        </div>
        <!-- 账户操作 -->
        <div style="background: #eeeeee;height: 6vh;width: 100%;display: flex;align-items: center;">
            <span style="margin-left: 1rem;">
                账户操作
            </span>
        </div>
        <el-row style="height: 8vh; display: flex; align-items: center;border-bottom: 1px #eeeeee solid;">
            <img src="../../images/mywallet/recharge.svg" style="height: 1.5rem; width: 1.5rem;margin: 0 1rem;">
            <span style="font-size: 1.2rem;">账户充值</span>
        </el-row>
        <el-row style="height: 8vh; display: flex; align-items: center;border-bottom: 1px #eeeeee solid;">
            <img src="../../images/mywallet/myadsense.svg" style="height: 1.5rem; width: 1.5rem;margin: 0 1rem;">
            <span style="font-size: 1.2rem;">我的广告位</span>
        </el-row>
        <!-- 消费信息 -->
        <div style="background: #eeeeee;height: 6vh;width: 100%;display: flex;align-items: center;">
            <span style="margin-left: 1rem;">
                消费信息
            </span>
        </div>
        <el-row style="height: 8vh; display: flex; align-items: center;border-bottom: 1px #eeeeee solid;">
            <img src="../../images/mywallet/top.svg" style="height: 1.5rem; width: 1.5rem;margin: 0 1rem;">
            <span style="font-size: 1.2rem;">信息&置顶</span>
        </el-row>
        <el-row style="height: 8vh; display: flex; align-items: center;border-bottom: 1px #eeeeee solid;">
            <img src="../../images/mywallet/myadsense.svg" style="height: 1.5rem; width: 1.5rem;margin: 0 1rem;">
            <span style="font-size: 1.2rem;">幻灯出租</span>
        </el-row>

    </div>

</body>

<!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
<script src="../../js/vue/vue.js"></script>
<!-- import JavaScript -->
<!-- <script src="https://unpkg.com/mint-ui/lib/index.js"></script> -->
<script src="../../js/mintui/index.js"></script>
<!-- 引入组件库 -->
<!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
<script src="../../js/elementui/index.js"></script>
<!-- Swiper JS -->
<script src="../../js/swiper-bundle.min.js"></script>
<script>
    //创建Vue实例,得到 ViewModel
    var vm = new Vue({
        el: '#app',
        data: {},
        //方法
        methods: {},
        //计算属性
        computed: {},
        //过滤器
        filter: {},
        //侦听器
        watch: {},
    });
</script>

</html>