<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>发布模板</title>
    <link rel="stylesheet" href="../../js/mintui/style.css">
    <!-- 引入样式 -->
    <link rel='stylesheet' href='https://unpkg.com/element-ui/lib/theme-chalk/index.css'>
    <style>
        body {
            padding: 0;
            margin: 0;
        }

        .el-input.is-disabled .el-input__inner {
            background-color: white;
            border-color: white;
        }

        .el-input {
            font-size: 16px;
            color: black;
        }
    </style>
</head>

<body>
    <div id="app">
        <div style="width: 100%;">
            <mt-header title="">
                <a slot="left" href="../issue.html">
                    <mt-button icon="back">返回</mt-button>
                </a>
            </mt-header>
        </div>
        <div style="padding: 0 1rem;">
            <!-- <mt-field placeholder="请输入你要发布的内容" type="textarea" rows="4" v-model="issuetext" required></mt-field> -->
            <textarea rows="4" placeholder="请输入你要发布的内容" v-model="item.content"
                style="width: 100%;border: none;font-size: 1.2rem;" required></textarea>
            <!-- 上传图片 -->
            <div style="margin: 0.5rem 0;">
                <el-upload class="upload-demo" ref="upload" action="https://jsonplaceholder.typicode.com/posts/"
                    list-type="picture">
                    <img src="../../images/photo.svg" style="height: 2rem;width: 2rem;" slot="trigger">
                </el-upload>
            </div>
            <!-- 地址等 -->
            <div style="display: flex;align-items: center;height: 4rem;border-bottom: 1px #eeeeee solid;">
                <i class="el-icon-location-outline" style="color: blue;font-size: 1.5rem;"></i>
                <el-input placeholder="这里的地址是自动获取的" v-model="item.gpsaddress" disabled>
                </el-input>
                <i class="el-icon-arrow-right" style="margin-left: 6.5rem;"></i>
            </div>
            <div style="margin:1rem 0">
                <el-row>
                    <i class="el-icon-mobile"></i>
                    <input type="number" v-model="item.phone" placeholder="请输入您的电话号码"
                        style="margin-left: 1rem;border: none;">
                </el-row>
            </div>
            <mt-button type="danger" style="position: absolute;bottom: 0;width: 80%;margin:0 5%;" @click="issueNow(item)">
                免费，立刻发布</mt-button>
        </div>

    </div>

</body>

<!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
<script src="../../js/vue/vue.js"></script>
<!-- import JavaScript -->
<!-- <script src="https://unpkg.com/mint-ui/lib/index.js"></script> -->
<script src="../../js/mintui/index.js"></script>
<!-- 引入组件库 -->
<!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
<script src="../../js/elementui/index.js"></script>
<!-- Swiper JS -->
<script src="../../js/swiper-bundle.min.js"></script>
<script src="../../js/axios/axios.js"></script>

<script>
    //创建Vue实例,得到 ViewModel
    var vm = new Vue({
        el: '#app',
        data: {
            item: {
                u_openid: 'oW04e5NWqcNpRLkMfExJgTYVXBbA',
                u_nickname: 'oW04e5NWqcNpRLkMfExJgTYVXBbA',
                content: '',
                gpsaddress: '',
                tname: '',
                phone: '',
            }
        },
        //方法
        methods: {
            issueNow(item) {
                //console.log(item)

                this.get()
                console.log(this.item)
                var issue = this.item
                console.log("请求提交")
                axios.post('https://kztch.tiantianapp.cn/huiyue/wxapp.php?t=0&c=entry&do=tc_msg_action&op=msg_send', issue)
                    .then(function (response) {
                        console.log(response)
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                // this.$http.post(('https://kztch.tiantianapp.cn/huiyue/wxapp.php?t=0&c=entry&do=tc_msg_action&op=msg_send'), data).then(
                //     Response => {
                //         console.log("我提交了")
                //     }
                // )
                // window.location.href = '../my/myissue.html'
            },
            get() {
                //获取哪一个点进来的 
                var add = window.location.search.split("?tname=")[1]
                this.item.tname = decodeURI(add)
                //console.log(this.tname)
            }
        },
        //计算属性
        computed: {},
        //过滤器
        filter: {},
        //侦听器
        watch: {},
    });
</script>

</html>